@import "compass/reset";
@import "bootstrap";
@import "bootstrap/glyphicons";

.content {
  @include center-block();
  width: 500px;

  h2 {
    text-align: center;
    font-weight : bold;
    font-style: italic;
    color: #fa850e;
  }
  .markingAll {
    label {
      font-weight: normal;
    }
  }

  .done-true {
    text-decoration: line-through;
    color: #cccccc;
    font-weight: normal;
  }

  .add-btn {
    @include button-variant(#fff, #5D950F, #0E3203);
    @include button-size(5px, 10px, 14px, 1.5, 4px)
  }
}

@media (max-width: 768px) {
  .content {
    width: 80%;
  }
}